<div class="login" style="max-width: 400px; margin: auto">

    <form #loginForm="ngForm" autocomplete="off">
      <div class="ui-g ui-fluid">
          <div class="ui-g-12">
            <h1>Teste HBSIS - Login</h1>
          </div>

          <div class="ui-g-12">
              <span class="ui-float-label">
                  <input id="email" type="text" pInputText name="usuario"
                      aria-placeholder="Digite seu email" ngModel #usuario="ngModel" required email>
                  <label for="email">E-mail</label>
              </span>

              <app-messagens [control]="usuario" error="required"
                text="E-mail é obrigatório." aria-live="polite"></app-messagens>

                <app-messagens [control]="usuario" error="email"
                text="Informe um e-mail válido." aria-live="polite"></app-messagens>

          </div>


          <div class="ui-g-12">
              <span class="ui-float-label">
                  <input id="senha" type="password" pInputText name="senha"
                    ngModel #senha="ngModel" required aria-placeholder="Digite sua senha">
                  <label for="senha">Senha</label>
              </span>

              <app-messagens [control]="senha" error="required"
                text="Senha é obrigatório." aria-live="polite"></app-messagens>

          </div>
          <div class="ui-g-12">
              <button role="button" pButton type="submit" label="Login" icon="fa fa-user"
                  [disabled]="!loginForm.valid"
                  (click)="login(usuario.value, senha.value); senha.value = '';" ></button>
          </div>

          <div style="width: 100%; padding-top: 50px; text-align: center"
            *ngIf="exibirSpinner === true" class="container-loading">
            <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE"
            *ngIf="exibirSpinner === true"></p-progressSpinner>
            <span *ngIf="exibirSpinner === true">Realizando login...</span>
          </div>

      </div>
    </form>





</div>
